<div  style="text-align: center; padding: 50px; background-color: #f8f9fa; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h1 style="font-size: 80px; color: #ff4d4d; margin-bottom: 20px;">404</h1>
    <h2 style="font-size: 36px; color: #333;"><%= __('not_found.message') %></h2>
    <p style="font-size: 18px; color: #555; margin: 20px 0;"><%= __('not_found.description') %></p>
    <p>
        <a href="/ruiBlog" style="color: #007bff; text-decoration: none; font-weight: bold; border: 2px solid #007bff; padding: 10px 20px; border-radius: 5px; transition: background-color 0.3s;">
            <%= __('not_found.home') %>
        </a>
    </p>
</div>
