<header class="site-header">
    <div class="header-content">
        <div class="logo">
            <img src="<%= theme.logo %>" alt="logo" class="site-logo">
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/notes">笔记</a></li>
                <li><a href="/about">关于</a></li>
                <li><a href="/gallery">相册</a></li>
            </ul>
        </nav>
    </div>
</header>
