<!-- !侧边栏 -->
<div class="sidebar2">
    <h3><i class="fas fa-list"></i> <%= __('common.title') %></h3>
    <a href="/lab/<%= page.lang || config.default_language %>/members/"><%= __('common.link1') %></a>
</div>

<style>
    .sidebar2 {
        width: 250px;
        min-height: 120px;
        border: 2px solid #ce0b0b;
        border-radius: 5px;
        background-color: #f9f9f9; /* 背景色 */
    }

    .sidebar2 h3 {
        background-color: #ce0b0b;
        color: white;
        padding: 10px;
        margin: 0; /* 移除默认的 margin */
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .sidebar2 a {
        display: block;
        text-align: center;
        padding: 10px 0;
        margin: 10px;
        color: #000000;
        font-size: 14px;
        text-decoration: none; /* 移除默认的下划线 */
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .sidebar2 a:hover {
        color: #0073e6; /* 鼠标悬停时标题字体变为蓝色 */
    }

    .sidebar2 p {
        padding: 10px;
        margin: 0;
    }

    /* 手机端样式调整 */
    @media only screen and (max-width: 768px) {
        .sidebar2 {
            width: 100%; /* 在手机端占满宽度 */
            margin-bottom: 20px; /* 增加底部间距 */
        }

        .sidebar2 h3 {
            font-size: 1.2em; /* 调整标题大小 */
            padding: 8px; /* 减少内边距 */
        }

        .sidebar2 a {
            font-size: 1em; /* 调整链接的字体大小 */
            padding: 8px; /* 减少内边距 */
            margin: 5px; /* 减少链接的外边距 */
        }

        .sidebar2 p {
            font-size: 1em; /* 调整段落的字体大小 */
            padding: 8px; /* 减少内边距 */
        }
    }
</style>
